*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#e9e9e9;
    padding:30px;
     margin:0;
    padding:0;
    box-sizing:border-box;
}

/* CONTENEDOR */

.contenedor{
    width:100%;
    margin:auto;
    background:white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow:hidden;
    padding-top: 110px; /* Ajusta según la altura real del header */
}

/*HEADER*/

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #022b68;
    padding: 18px 30px;

    z-index: 9999;
    transition: all .3s ease;

    box-sizing: border-box;
}

.header.scrolled{
    box-shadow: 0 6px 20px rgba(0,0,0,.25);
}

/* LOGO */

.logo-box{
    display:flex;
    align-items:center;
    gap:15px;
}

.logo-box img{
    width:75px;
    height:75px;
    border-radius:50%;
    object-fit:cover;
}

.logo-texto h1{
    color:white;
    font-size:42px;
}

.logo-texto p{
    color:white;
    font-size:15px;
    line-height:1.4;
}


/* NAVBAR */
.navbar{
    background:#e31c23;

    display:flex;
    align-items:center;

    gap:30px;

    padding:18px 30px;

    border-radius:10px;
}

/* LINKS */
.navbar a{
    color:rgb(0, 17, 112);

    text-decoration:none;

    font-size:17px;
    font-weight:700;

    transition:.3s;
}

/* HOVER */
.navbar a:hover{
    opacity:.8;
}

/* ACTIVO */
.active{
    border-bottom:3px solid rgb(255, 255, 255);
    padding-bottom:5px;
}

/* DROPDOWN */
.dropdown{
    position:relative;
    display: flex;
    align-items: center;
    z-index: 1000;
}

/* BOTÓN */
.dropbtn{
    background:none;
    border:none;

    color:rgb(255, 255, 255);

    font-size:17px;
    font-weight:700;

    cursor:pointer;

    display:flex;
    align-items:center;
    gap:8px;
}

/* MENÚ */
.dropdown-content{
    display:none;

    position:absolute;

    top:100%;   /* PEGA el menú justo debajo */
    left:0;

    margin-top:0; /* evita espacios */

    background:rgb(0, 17, 112);

    min-width:220px;

    border-radius:10px;

    overflow:hidden;

    z-index:1000;

}



/* LINKS MENÚ */
.dropdown-content a{
    display:block;

    padding:14px 18px;

    color:#002f70;

    font-size:15px;
}

/* HOVER MENÚ */
.dropdown-content a:hover{
    background:#d6d6d684;
}

/* MOSTRAR */
.dropdown:hover .dropdown-content{
    display:block;
}

/* ICONOS */
.icons{
    display:flex;
    gap:18px;

    color:white;

    font-size:20px;

    cursor:pointer;
}


/* TEXTO encima del slide */
.hero-texto {
  position: relative;
  z-index: 2;
  color: white;
  max-width: 500px;
}

.hero-texto h2 {
  font-size: 65px;
  line-height: 1;
  margin-bottom: 20px;
  font-weight: 900;
}

.hero-texto p {
  font-size: 23px;
  line-height: 1.5;
  margin-bottom: 30px;
}


.hero{
    position: relative;
    width:100%;
    height:100vh;
    overflow:hidden;
    margin-top:0;
    display:flex;
    align-items:center;
}

.hero-video{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
    z-index:1;
}

.hero-overlay{
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.45);
    z-index:2;
}

.hero-texto{
    position:relative;
    z-index:3;

    max-width:650px;

    margin-left:7%;

    color:white;
}

.hero-texto h2{
    font-size:clamp(60px,6vw,110px);
    line-height:.9;
    font-weight:900;
    margin-bottom:25px;
}

.hero-texto p{
    font-size:clamp(20px,2vw,32px);
    line-height:1.5;
    margin-bottom:35px;
}

.btn{
    display:inline-flex;
    align-items:center;
    gap:12px;

    background:#003b91;

    color:#fff;

    padding:16px 34px;

    border-radius:8px;

    text-decoration:none;

    font-size:22px;

    font-weight:bold;

    transition:.3s;
}

.btn:hover{
    background:#0b58c7;
}


/* BOTÓN */

.btn{
    display:inline-flex;
    align-items:center;
    gap:12px;

    background:#033176;
    color:white;

    padding:15px 30px;

    border-radius:8px;
    text-decoration:none;
    font-weight:bold;

    transition:0.3s;
}

.btn:hover{
    background:#08306d;
}

/* CARDS */

.cards{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
    padding:25px;
    background:#f5f5f5;
}
.card{
    background:white;
    padding:35px 20px;

    text-align:center;
    border-radius:10px;
    border:1px solid #ddd;
    border-top: 6px solid #01337e;

    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
    box-shadow:0 4px 10px rgba(0,0,0,0.15);
}

.card i{
    font-size:55px;
    color:#003d9a;
    margin-bottom:20px;
    
}

.card h3{
    color:#003d9a;
    margin-bottom:10px;
    font-size:24px;
}

.card p{
    color:#555;
    line-height:1.5;
}






/* BOTÓN DONAR SANGRE */

.donar-box{
    background:white;
    border:2px solid #eee;
    border-radius:10px;
    text-align:center;
    padding:30px 20px;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

/* =========================
   SECCIÓN EMERGENCIAS
========================= */

/* ==========================================================
                SECCIÓN EMERGENCIAS
========================================================== */

.emergencia-grid{
    display:flex;
    align-items:stretch;
    justify-content:center;

    gap:20px;

    width:100%;

    margin-top:40px;
    margin-bottom:40px;

    padding:0 25px;
}


/* ==========================================================
                LAS 3 CAJAS
========================================================== */

.tarjeta-link{
    text-decoration:none;
    color:inherit;

    display:block;

    width:250px;

    flex-shrink:0;
}

.tarjeta-link:hover{
    text-decoration:none;
}


/* ==========================================================
                CAJA GENERAL
========================================================== */

.emergencia-box{

    width:250px;

    min-height:300px;

    background:white;

    border-radius:10px;

    overflow:hidden;

    border:1px solid #e5e5e5;

    box-shadow:0 2px 8px rgba(0,0,0,.15);

    transition:.3s ease;
}


/* Efecto suave */

.tarjeta-link:hover .emergencia-box{

    transform:translateY(-4px);

    box-shadow:0 6px 14px rgba(0,0,0,.18);
}


/* ==========================================================
                    TÍTULOS
========================================================== */

.emergencia-box h3{

    color:white;

    text-align:center;

    padding:13px 8px;

    margin:0;

    font-size:17px;

    font-weight:700;

    line-height:1.2;
}


/* VERDE */

.verde h3{
    background:#18812a;
}


/* ROJO */

.rojo h3{
    background:#c62828;
}


/* AZUL */

.azul h3{
    background:#16499b;
}


/* ==========================================================
                        LISTAS
========================================================== */

.emergencia-box ul{

    list-style:none;

    padding:18px 20px;

    margin:0;
}


/* ==========================================================
                    ELEMENTOS
========================================================== */

.emergencia-box ul li{

    margin:0;

    padding:10px 0;

    font-size:15px;

    color:#444;

    font-weight:600;

    border-bottom:1px solid #eeeeee;
}


/* Quitar línea del último */

.emergencia-box ul li:last-child{
    border-bottom:none;
}


/* ==========================================================
                    ICONOS
========================================================== */

.emergencia-box ul li::before{

    font-family:"Font Awesome 6 Free";

    font-weight:900;

    display:inline-block;

    width:28px;

    margin-right:5px;

    text-align:center;

    font-size:16px;
}


/* NATURALES */

.verde ul li::before{
    color: #18812a ;
}

.verde ul li:nth-child(1)::before{
    content:"\f773";
}

.verde ul li:nth-child(2)::before{
    content:"\f06a";
}

.verde ul li:nth-child(3)::before{
    content:"\f188";
}

.verde ul li:nth-child(4)::before{
    content:"\f6fc";
}

.verde ul li:nth-child(5)::before{
    content:"\f6d1";
}


/* URBANAS */

.rojo ul li::before{
    color:#c62828;
}

.rojo ul li:nth-child(1)::before{
    content:"\f06d";
}

.rojo ul li:nth-child(2)::before{
    content:"\f1e2";
}

.rojo ul li:nth-child(3)::before{
    content:"\f5e1";
}

.rojo ul li:nth-child(4)::before{
    content:"\f095";
}

.rojo ul li:nth-child(5)::before{
    content:"\f52f";
}


/* PREVENCIÓN */

.azul ul li::before{
    color:#16499b;
}

.azul ul li:nth-child(1)::before{
    content:"\f0fa";
}

.azul ul li:nth-child(2)::before{
    content:"\f0c0";
}

.azul ul li:nth-child(3)::before{
    content:"\f1ae";
}

.azul ul li:nth-child(4)::before{
    content:"\f0eb";
}


/* ==========================================================
                    RESPONSIVE
========================================================== */

@media(max-width:1100px){

    .emergencia-grid{
        gap:10px;
        padding:0 10px;
    }

    .tarjeta-link,
    .emergencia-box{
        width:100%;
    }

}


@media(max-width:800px){

    .emergencia-grid{
        flex-wrap:wrap;
    }

    .tarjeta-link{
        width:250px;
    }

}

/* RESPONSIVE */

@media(max-width:900px){

    .emergencia-grid{
        grid-template-columns:1fr;
    }

}

.donar-box i{
    font-size:55px;
    color:#d81f26;
    margin-bottom:15px;
}

.donar-box h3{
    color:#d81f26;
    font-size:24px;
    margin-bottom:20px;
    line-height:1.3;
}

.btn-donar{
    background:#d81f26;
    color:white;
    text-decoration:none;
    padding:12px 24px;
    border-radius:8px;
    font-weight:bold;
    transition:0.3s;
}

.btn-donar:hover{
    background:#b3151c;
    
}
/* ========================
   MAPA INTERACTIVO
======================== */

.mapa-section{
    display:grid;
    grid-template-columns:2fr 1fr;
    gap:20px;

    padding:25px;
    background:#f5f5f5;
}

.mapa-box iframe{
    width:100%;
    border-radius:10px;
}

.mapa-info{
    background:white;
    border-radius:10px;
    padding:25px;

    display:flex;
    flex-direction:column;
    justify-content:center;
}

.mapa-info h3{
    color:#0b2f66;
    font-size:26px;
    margin-bottom:15px;
}

.mapa-info p{
    color:#555;
    line-height:1.6;
    margin-bottom:20px;
}

.btn-mapa{
    background:#0c47a1;
    color:white;
    text-decoration:none;

    padding:12px 20px;
    border-radius:8px;

    font-weight:bold;
    width:max-content;
}

.btn-mapa:hover{
    background:#08306d;
}

/* RESPONSIVE */

@media(max-width:900px){

    .mapa-section{
        grid-template-columns:1fr;
    }

}
/* ==========================
   NÚMEROS DE EMERGENCIA
========================== */

.numeros-emergencia{
    padding:40px 25px;
    background:white;
}

.numeros-emergencia h2{
    text-align:center;
    font-size:32px;
    color:#0b2f66;
    margin-bottom:25px;
}

.numeros-grid{
    text-decoration: none;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
}

.numero-card{
    background:#f5f5f5;
    padding:25px;
    border-radius:10px;
    text-align:center;
    transition:0.3s;
}

.numero-card:hover{
    transform:translateY(-5px);
    box-shadow:0 4px 12px rgba(0,0,0,0.12);
}

.numero-card i{
    font-size:45px;
    color:#d81f26;
    margin-bottom:15px;
}

.numero-card h3{
    color:#0b2f66;
    margin-bottom:10px;
    font-size:20px;
}

.numero-card p{
    font-size:28px;
    font-weight:bold;
    color:#222;
}

/* RESPONSIVE */

@media(max-width:900px){

    .numeros-grid{
        grid-template-columns:repeat(2,1fr);
    }

}

@media(max-width:600px){

    .numeros-grid{
        grid-template-columns:1fr;
    }

}



/* NAVBAR */
.navbar{
    background:#e31c23;

    display:flex;
    align-items:center;

    gap:30px;

    padding:18px 35px;

    border-radius:10px;

    width:max-content;
}

/* LINKS */
.navbar a{
    color:white;
    text-decoration:none;

    font-size:17px;
    font-weight:700;

    transition:.3s;
}

/* HOVER */
.navbar a:hover{
    opacity:.8;
}

/* LINK ACTIVO */
.active{
    border-bottom:3px solid white;
    padding-bottom:5px;
}

/* ICONOS */
.icons{
    display:flex;
    align-items:center;

    gap:18px;

    color:white;

    font-size:20px;

    cursor:pointer;



    /*CAMPANA*/

.bell-link{
    color: inherit;
    text-decoration: none;
    font-size: 22px;
}
}


/*ESTO ES DEL NAV DE LOS ICONOS*/
.icons{
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 22px;
}

.icons i{
    cursor: pointer;
 
}



.dropdown{
    position: relative;
    z-index: 1000;
}

.dropdown-menu{
    display: none;

    position: absolute;
    top: 100%;
    left: 0%;

    background: rgb(16, 4, 128);

    border-radius: 10px;

    box-shadow: 0 4px 10px rgba(0,0,0,0.2);

    min-width: 140px;

    margin-top: 0%;


}

.dropdown-menu a{
    display: block;

    padding: 10px;

    text-decoration: none;

    color: rgb(255, 255, 255);
}

.dropdown-menu a:hover{
    background: #f0f0f0;
}

.dropdown:hover .dropdown-menu{
    display: block;
}



/*==================================================
                    FOOTER
==================================================*/

.footer{

    background:#0a2342;
    color:#fff;

    margin-top:80px;

    padding:60px 8% 20px;

}

.footer-grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

    gap:40px;

}

.footer-box h3{

    margin-bottom:20px;

    color:#fff;

    font-size:22px;

}

.footer-box p{

    color:#d8d8d8;

    line-height:1.8;

    margin-bottom:10px;

}

.footer-box a{

    display:block;

    color:#d8d8d8;

    margin-bottom:12px;

    transition:.3s;

}

.footer-box a:hover{

    color:#4da6ff;

    padding-left:6px;

}

.footer-redes{

    display:flex;

    gap:15px;

    margin-top:15px;

}

.footer-redes a{

    width:45px;

    height:45px;

    border-radius:50%;

    background:#163b69;

    display:flex;

    justify-content:center;

    align-items:center;

    color:#fff;

    font-size:18px;

    transition:.3s;

}

.footer-redes a:hover{

    background:#0a5ca8;

    transform:translateY(-5px);

}

.footer-bottom{

    text-align:center;

    margin-top:40px;

    border-top:1px solid rgba(255,255,255,.2);

    padding-top:20px;

    color:#cfcfcf;

    font-size:15px;

}

/*==================================================
                ANIMACIONES
==================================================*/

.hero h1{

    animation:aparecer .8s ease;

}

.hero p{

    animation:aparecer 1.2s ease;

}

.card{

    animation:subir .8s ease;

}

@keyframes aparecer{

    from{

        opacity:0;
        transform:translateY(-20px);

    }

    to{

        opacity:1;
        transform:translateY(0);

    }

}

@keyframes subir{

    from{

        opacity:0;
        transform:translateY(30px);

    }

    to{

        opacity:1;
        transform:translateY(0);

    }

}

/*==================================================
                RESPONSIVE TABLET
==================================================*/

@media(max-width:992px){

.hero{

    min-height:300px;

}

.hero h1{

    font-size:42px;

}

.hero p{

    font-size:17px;

}

.section-title{

    font-size:30px;

}

.category h2{

    font-size:28px;

}

}

/*==================================================
                RESPONSIVE MÓVIL
==================================================*/

@media(max-width:768px){

.hero{

    min-height:250px;

    padding:40px 20px;

}

.hero h1{

    font-size:34px;

}

.hero p{

    font-size:16px;

}

.info-box{

    padding:25px;

}

.section-title{

    font-size:26px;

}

.category h2{

    font-size:24px;

}

.card img{

    height:200px;

}

.card-content{

    padding:20px;

}

.card-content h3{

    font-size:20px;

}

.footer{

    text-align:center;

}

.footer-redes{

    justify-content:center;

}

}

/*==================================================
            CELULARES PEQUEÑOS
==================================================*/

@media(max-width:480px){

.hero h1{

    font-size:28px;

}

.hero p{

    font-size:15px;

}

.btn{

    width:100%;

}

.card img{

    height:180px;

}

}




a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}


.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.hero-video{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.hero-overlay{
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,.45);
    z-index: 2;
}

.hero-content{
    position: relative;
    z-index: 3;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

/*==================================================
                RESPONSIVE MÓVIL
==================================================*/

@media(max-width:768px){

.hero{

    min-height:250px;

    padding:40px 20px;

}

.hero h1{

    font-size:34px;

}

.hero p{

    font-size:16px;

}

.info-box{

    padding:25px;

}

.section-title{

    font-size:26px;

}

.category h2{

    font-size:24px;

}

.card img{

    height:200px;

}

.card-content{

    padding:20px;

}

.card-content h3{

    font-size:20px;

}

.footer{

    text-align:center;

}

.footer-redes{

    justify-content:center;

}

}

/*==================================================
            CELULARES PEQUEÑOS
==================================================*/

@media(max-width:480px){

.hero h1{

    font-size:28px;

}

.hero p{

    font-size:15px;

}

.btn{

    width:100%;

}

.card img{

    height:180px;

}

}
